<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- user and root dir -->
		<add key="userName" value="tester"/>
		<add key="userPassword" value="password"/>
		<add key="userRootDir" value="data"/>
		
		<!-- user public keys for public key authentication (optional) -->
		<add key="userPublicKeyDir" value=""/>

		<!-- misc config -->
		<add key="showUserDetailsOnStartup" value="true"/>
		
		<!-- security -->
		<add key="rsaPrivateKeyFile" value="server-private-key-rsa.ppk"/>
		<add key="rsaPrivateKeyPassword" value="my-super-secure-password"/>

		<add key="dssPrivateKeyFile" value="server-private-key-dss.ppk"/>
		<add key="dssPrivateKeyPassword" value="my-super-secure-password"/>
		
		<!-- port -->
		<add key="sshPort" value="22"/>

		<!-- start server when application is started? -->
		<add key="autoStart" value="false"/>
	</appSettings>
</configuration>
