<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  
  <appSettings>
     <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
  
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
    <generatePublisherEvidence enabled="false"/>
    <loadFromRemoteSources enabled="true"/>
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>  
  </runtime>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthAnvilPasswordService">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="AuthAnvilPasswordService" contract="AuthAnvilPasswordService.IAAPSService" name="AuthAnvilPasswordService"/>
    </client>
  </system.serviceModel>
  
</configuration>
