<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BalloonNotifications" value="True" />
    <add key="EnablePostEventWarmUp" value="True" />
    <add key="IncludeSTSADM" value="True" />
    <add key="URL" value="http://sample/" />
    <add key="HiddenAppPools" value="DefaultAppPool|" />
  </appSettings>
</configuration>