<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/converter.log"/>
      <appendToFile value="false"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="4"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level %date (%file:%line) - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <applicationSettings>
    <Converter.Properties.Settings>
      <setting name="SQLServerAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePath" serializeAs="String">
        <value />
      </setting>
    </Converter.Properties.Settings>
  </applicationSettings>
</configuration>