<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PollingTimeoutSeconds" value="900"/>
    <add key="MailFrom" value="change-ip@example.com"/>
    <add key="MailTo" value="user@example.com"/>
    <add key="Subject" value="IP changed"/>
    <add key="SmtpHost" value="mail.example.com"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
